<!DOCTYPE html>
<html>
<head>
  <title>Backend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<nav>
		<ul class="nav nav-tabs">
			<li>
				<%= link_to "Inicio", root_path %>
			</li>
			<li>
				<%= link_to "Posts", posts_path %>
			</li>

			<% if usuario_signed_in? %>
				<li>
					<%= link_to "Editar Perfil", edit_usuario_registration_path(current_usuario) %>
				</li>
				<li>
					<%= link_to "Cerrar sesión", destroy_usuario_session_path, method: :delete %>
				</li>

				<li>
					<%= link_to "Mi perfil", current_usuario %>
				</li>

			<% else %> 
				<li>
					<%= link_to "Ingresar", new_usuario_session_path %>
				</li>
				<li>
					<%= link_to "Registrarse", new_usuario_registration_path %>
				</li>
			<% end %>
			
		</ul>
	</nav>
</header>

<p class="notice" style="<%= "display:none;" if notice.nil? %>"><%= notice %></p>
<p class="alert" style="<%= "display:none;" if alert.nil? %>"><%= alert %></p>

<%= yield %>

</body>
</html>
